.trustedBy{
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
   span{
    font-size: 18px;
   }
  .container{
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: rgb(183, 181, 181);
    font-weight: 500;

    img{
      height: 35px;
      object-fit: contain;

    }
  }
}